body {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
}

footer p {
  margin-bottom: 0;
  font-weight: 400;
  font-size: .8rem;
}

.infoInicio {
    padding: 2rem;
}

.inicio {
  background-color: #ededed;
  border-radius: 0rem 0rem 2rem 2rem;
  text-align: center;
}

.titulo {
  font-weight: 900;
}

.descripcion {
  font-weight: 500;
}

.containerJuego{
  background-color: #ffffff;
  border-radius: 2rem;
  width: 100%;
  padding: 2rem;
  text-align: center;
}

.juego {
  background-color: #5a4ebc;
  border-radius: 2rem;
  width: min(100%, 500px);
  margin: auto;
  text-align: center;
}

.score {
    color: white;
    font-weight: 700;
    padding-top: 1rem;
    font-size: 1.5rem;
}

.containerImagen {
  border-radius: 2rem 2rem 0rem 0rem;
  background-color: #ffffff;
}

.botonesAdivinar{
  width: 100%;
}

.botonesAdivinar button {
  color: #ffffff;
  font-weight: 700;
  width: min(100%/2, 250px);
  height: 3rem;
}

.botonesAdivinar button:hover {
  color: #ffffff;
}

.botonOtaku {
  background-color: #5a4ebc;
  border-radius: 0rem 0rem 0rem 2rem;
}

.botonPeronista {
  background-color: #5a4ebc;
  border-radius: 0rem 0rem 2rem 0rem;
}

.botonAcierto {
  background-color: #3cb750;
}

.botonError {
  background-color: #b73c3c;
}

footer {
  background-color: #1c1c1c;
  border-radius: 2rem 2rem 0rem 0rem;
  padding: 2rem 0rem 2rem 0rem;
  color: white;
}

.botonmp {
  background-color: #ffffff;
  color: #000000;
  font-weight: 700;
  border-radius: 2rem;
  font-size: .7rem;
  margin-top: 1rem;
}

.fa-linkedin {
  margin-right: 8px;
}

.fa-instagram {
  margin-right: 7px;
}

.fa-discord {
  margin-right: 5px;
  margin-left: -3px;
}

.fa-tiktok {
  margin-right: 9px;
}
