body {
  background-color: #121212;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
}

ul {
  list-style-type: none;
}

p {
  margin-bottom: 0;
}

.titulo {
  background-color: #ffffff;
}

.imgTitulo {
  padding: 1.5rem;
}

.fa-twitter {
  margin-right: 6px;
}

.fa-instagram {
  margin-right: 7px;
}

.fa-linkedin {
  margin-right: 8px;
}

.fa-discord {
  margin-right: 5px;
  margin-left: -3px;
}

.fa-tiktok {
  margin-right: 9px;
}

.info {
  color: #ffffff;
  font-weight: 400;
  font-size: .8rem;
}

.juego {
  padding: 0rem;
  background-color: #ffffff;
  color: white;
}

.divMaxPuntos {
  background-color: #424242;

}

.divPuntos {
  background-color: #75aadb;
}

.botonera {
  background-color: #75aadb;
  padding: 1rem 0rem 1rem 0rem;
}

.boton {
  background-color: #ffffff;
  border-radius: 0;
  font-weight: 700;
  width: min(85vw/2, 250px);
}

.boton:hover {
  background-color: #cccccc;
}

.botonError {
  background-color: #b00020;
  color: #ffffff;
}

.botonAcierto {
  background-color: #03b000;
  color: #ffffff;
}

.botonError:hover {
  background-color: #b00020;
  color: #ffffff;
}
.botonAcierto:hover {
  background-color: #03b000;
  color: #ffffff;
}

.modal-dialog * {
  margin: 0 auto;
}

.modal-footer {
  background-color: #75aadb;
  width: 100%;
}

.modal-header {
  background-color: #75aadb;
  width: 100%;
}

footer {
  background-color: #121212;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  padding: 2rem 0rem 2rem 0rem;
}
